* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: oswald, serif;
    /*font-family: 'Montserrat', sans-serif;*/
}


/*-------------------- seccion inicio nav --------------------*/


.bg-light {
    background-color: transparent !important;
}

.nav-logo {
    animation: animacion 10s linear infinite;
    filter: drop-shadow(0 2px 5px rgba(255, 255, 255, 0.7));
    list-style: none;
    margin: 0;
    text-decoration: none;
}

.navbar-nav a {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-nav {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.navbar-nav a:hover {
    text-decoration: overline;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    background: #fff;
    font-size: 18px;
    line-height: 0.3;
    padding: 1px 5px;
}

.session {
    color: rgb(20, 204, 204) !important;
}

@keyframes animacion {
    0% {
        transform: scale(0.8);
    }

    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}


/*-------------------- seccion inicio carousel --------------------*/


.carousel-item {
    height: 100vh;
}

.carousel-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
}

.carousel-caption h5 {
    font-size: 50px;
    letter-spacing: 2px;
    margin-top: 25px;
    text-shadow: 3px 3px 3px rgb(2, 2, 2);
    text-transform: uppercase;
}

.carousel-caption p {
    font-style: italic;
    font-size: 27px;
    line-height: 1.9;
    text-shadow: 3px 3px 3px rgb(19, 168, 228);
    width: 60%;
}


/*-------------------- seccion club --------------------*/


#club,
#actividades {
    background: #2C3E50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 12vh 0vh;
}

.club__container {
    color: black;
    margin: 0px 10px;
    padding: 20px 20px;
    text-align: center;
}

.club__container-img {
    background-position: center;
    background-repeat: no-repeat;
}

.club__container-img img {
    width: 200px;
}

.club__container-texto {
    font-family: ubuntu;
    font-weight: bold;
    line-height: 1.8;
}

.club__container-texto h2 {
    font-size: 40px;
}

.club__container-texto p {
    margin-top: 30px;
    font-size: 18px;
}



/*-------------------- seccion actividades --------------------*/

.actividades__container>h2 {
    color: #000;
    font-size: 40px;
    margin-bottom: 50px;
    padding: 20px 20px;
    text-align: center;
}

.actividades__tipos {
    border-radius: 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    perspective: 1000px;
    position: relative;
}

.actividades__tipos-card {
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .3);
    height: 100%;
    max-width: 320px;
    transform-style: preserve-3d;
    transition: all .8s linear;
}

.actividades__tipos-card:hover {
    box-shadow: -5px 5px 15px rgba(0, 0, 0, .3);
    transform: rotateY(180deg);
}

.actividades__tipos-card-frente {
    backface-visibility: hidden;
    border-radius: 10px;
    height: 100%;
    position: absolute;
    width: 100%;
}

.actividades__tipos-card-atras {
    backface-visibility: hidden;
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
    display: block;
    height: 100%;
    padding: 10px;
    opacity: .8;
    transform: rotateY(180deg);
}

.actividades__tipos-card-frente h3 {
    color: #fff;
    font-size: 30px;
    padding: 70px;
    text-align: center;
}

.actividades__tipos-card-atras p {
    color: #000;
    font-size: 18px;
    padding: 13px;
    text-align: center;
}

.img__deporte,
.img__cultura,
.img__social {
    background-position-y: 0;
    background-repeat: no-repeat;
    background-size: 100% 200px;
    border-radius: 10px;
}

.img__deporte {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("./img/card-deporte.jpg");
}

.img__cultura {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url("./img/card-cultura.jpg");
}

.img__social {
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url("./img/card-social.jpg");
}


/*-------------------- seccion footer --------------------*/


#footer {
    background: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.footer__logo {
    filter: drop-shadow(0 2px 5px rgba(255, 255, 255, 0.5));
    width: 80px;
}

.footer__copyright {
    color: #fff;
}


/*--- media query for tablet: ---*/


@media only screen and (min-width: 600px) and (max-width: 899px) {

    .club__container {
        margin: 0px 30px;
        padding: 40px 100px;
    }

    .club__container-texto p {
        font-size: 16px;
    }

    .actividades__tipos {
        align-items: center;
        border-radius: 10px;
        height: 300px;
        justify-content: center;
    }

    .actividades__tipos-card {
        height: 100%;
        max-width: 500px;
    }

    .img__deporte,
    .img__cultura,
    .img__social {
        background-size: 100% 300px;
    }

    .actividades__tipos-card-frente h3 {
        font-size: 38px;
        padding: 110px;
    }

    .actividades__tipos-card-atras p {
        font-size: 25px;
        padding: 40px;
    }

}


/*--- media query for desktop: ---*/


@media only screen and (min-width: 900px) {

    .navbar-nav {
        background: transparent;
        text-align: none;
    }

    .club__container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        max-width: 850px;
        padding: 40px 10px;
        text-align: left;
    }

    .club__container-img {
        width: 30%;
    }

    .club__container-img img {
        width: 270px;
    }

    .club__container-texto {
        padding-left: 50px;
        width: 70%;
    }

    .club__container-texto p {
        font-size: 20px;
    }

    .actividades__tipos {
        align-items: center;
        height: 400px;
        justify-content: center;
        margin-bottom: 70px;
    }

    .actividades__tipos-card {
        height: 100%;
        max-width: 700px;
    }

    .img__deporte,
    .img__cultura,
    .img__social {
        background-size: 100% 450px;
    }

    .actividades__tipos-card-frente h3 {
        font-size: 40px;
        padding: 180px;
    }

    .actividades__tipos-card-atras p {
        font-size: 25px;
        padding: 90px;
    }

}