* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: oswald, serif;
    /*font-family: 'Montserrat', sans-serif;*/
}


/*-------------------- seccion inicio nav --------------------*/


.bg-light {
    background-color: transparent !important;
}

.nav-logo {
    animation: animacion 10s linear infinite;
    filter: drop-shadow(0 2px 5px rgba(255, 255, 255, 0.7));
    list-style: none;
    margin: 0;
    text-decoration: none;
}

.navbar-nav a {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.navbar-nav {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.navbar-nav a:hover {
    text-decoration: overline;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 33px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.w-100 {
    height: 100vh;
}

.navbar-toggler {
    background: #fff;
    font-size: 18px;
    line-height: 0.3;
    padding: 1px 5px;
}

.session {
    color: rgb(20, 204, 204) !important;
}

@keyframes animacion {
    0% {
        transform: scale(0.8);
    }

    25% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.8);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.8);
    }
}


/*-------------------- seccion socios - lista --------------------*/


#socios-lista {
    background: #2C3E50;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 15vh 0vh;
}

.socios-lista__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.socios-lista__card {
    background: #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 25px;
    padding: 20px;
    width: 450px;

}

.socios-lista__card h1 {
    font-size: 1.7rem;
    text-align: center;
    margin: 10px;
}

.socios-lista__tabla {
    border-collapse: collapse;
    width: 100%;
}

.socios-lista__tabla td,
.socios-lista__tabla th {
    border: 1px solid #ddd;
    font-size: 10px;
    padding: 5px;
}

.socios-lista__tabla th {
    background-color: rgb(20, 204, 204);
    color: #000;
}

td:nth-of-type(5n) button {
    background-color: rgb(20, 204, 204);
    border-radius: 5px;
    border: none;
    color: #000;
    font-size: 1em;
    font-weight: bold;
    padding: 10px 15px;
}

td:nth-of-type(5n) button:hover {
    background-color: rgb(20, 204, 204);
}

#delete {
    color: #000;
    text-decoration: none;
}

#delete:hover {
    color: #ff0000;
}

#btnmodal:hover {
    color: #fff;
}


/*-------------------- seccion modals --------------------*/


.form-control {
    font-family: ubuntu, serif;
}

.modal-content {
    color: #fff;
    background: rgba(41, 41, 41, 0.836);
}

.modal-body {
    font-family: ubuntu, serif;
    text-align: center;
}

#modal-edicion .modal-footer {
    display: flex;
    justify-content: right;
}

.modal-footer {
    display: flex;
    justify-content: center;
}

#modal-edicion .modal-body {
    text-align: left;
}

.modal-footer .btn {
    background-color: rgb(20, 204, 204);
}

.modal-contenido-delete {
    background-color: rgb(255, 255, 255);
    margin: 20% auto;
    padding: 20px 20px;
    position: relative;
    text-align: right;
    width: 300px;
}

.modal-delete {
    background-color: rgba(0, 0, 0, .8);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    transition: all 1s;
}

.modal-contenido-delete a {
    color: #000;
    text-decoration: none;
}

.modal-contenido-delete p {
    text-align: center;
}

#modalDelete:target {
    opacity: 1;
    pointer-events: auto;
}


/*-------------------- seccion footer --------------------*/


#footer {
    background: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.footer__logo {
    filter: drop-shadow(0 2px 5px rgba(255, 255, 255, 0.5));
    width: 80px;
}

.footer__copyright {
    color: #fff;
}



/*--- media query for tablet: ---*/


@media only screen and (max-width: 850px) {

    table {
        width: 100%;
    }

    table tr {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        padding: 1.5px;
    }

    table td,
    table tr {
        border: none;
    }

    table td[data-titulo]::before {
        content: attr(data-titulo);
        font-weight: bold;
        width: 22%;
    }

    table thead {
        display: none;
    }

    table td[data-titulo] {
        display: flex;
    }

    td:nth-of-type(5n) {
        display: flex;
        justify-content: center;
        gap: 5px;
    }

    .socios-lista__tabla td,
    .socios-lista__tabla th {
        font-size: 12px;
    }
}


/*--- media query for tablet: ---*/

@media only screen and (min-width: 600px) {

    .socios-lista__tabla td,
    .socios-lista__tabla th {
        font-size: 15px;
    }
}

@media only screen and (min-width: 850px) {

    #socios-lista {
        padding: 30vh 0vh;
    }

    .socios-lista__card {
        margin: 0 10px;
        padding: 30px;
        width: 1000px;
    }

    .socios-lista__card h1 {
        font-size: 2rem;
        margin-bottom: 20px;
    }

    .socios-lista__tabla td,
    .socios-lista__tabla th {
        font-size: 17px;
        padding: 3px;
        text-align: center;
    }

}


/*--- media query for desktop: ---*/


@media only screen and (min-width: 900px) {

    .navbar-nav {
        background: transparent;
        text-align: none;
    }


}